<div class = "resultsSection" id="resultsSection">

    <div id="w_btn"><button style="width: 85px;" onclick="myFunction('{{resFigures[0]}}');" class="waves-effect waves-light btn-large">w</button></div>
    <div id="mx_btn"><button style="width: 85px;" onclick="myFunction('{{resFigures[1]}}');" class="waves-effect waves-light btn-large">mx</button></div>
    <div id="my_btn"><button style="width: 85px;" onclick="myFunction('{{resFigures[2]}}');" class="waves-effect waves-light btn-large">my</button></div>
    <div id="mxy_btn"><button style="width: 85px;" onclick="myFunction('{{resFigures[3]}}');" class="waves-effect waves-light btn-large">mxy</button></div>
    <div id="vx_btn"><button style="width: 85px;" onclick="myFunction('{{resFigures[4]}}');" class="waves-effect waves-light btn-large">vx</button></div>
    <div id="vy_btn"><button style="width: 85px;" onclick="myFunction('{{resFigures[5]}}');" class="waves-effect waves-light btn-large">vy</button></div>
    <div id="mesh_btn"><button style="width: 100px;" onclick="myFunction('{{resFigures[6]}}');" class="waves-effect waves-light btn-large">mesh</button></div>


    <div class="imageContainer">
        <img src="data:image/png;base64, {{resFigures[0]}}" id="expandedImg" style="width:100%"> 
    </div>

</div>